* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding-left: 75px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.nav-links {
    padding-right: 75px;
}



.header2 {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.section-1 {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.web {
    color: #F9FAF8;
    font-size: 40px;
    font-weight: 800;
}

.web2 {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 12px;
    font-weight: 50;
}

.button {
    background: #3882f6;
    top: 50%;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    max-width: 90px;
    min-height: 30px;
}

.img-1 {
    padding-right: 75px;
    height: 150px;
    width: 320px;
}



.container {
    display: flex;
    justify-content:center;
}

.some {
    text-align: center;
    padding: 30px;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.img-2 {
    width: 140px;
    height: 140px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.text {
    color: black;
    
}




.quote {
    background-color: #e5e7eb;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 25px;
    color: #1f2937;
    font-style: italic;
}

.thor {
    font-weight: 900;
    padding-left: 275px;

}

/* figuring out the quote */


.footer-1 {
    background: #3882f6;
    margin: 100px;
    padding: 50px;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.left-lines {
    display: flex;
    flex-direction: column;
}

.line-1 {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 20px;
}

.line-2 {
    color: #f9faf89a;
    font-weight: 100;
}

.button-2 {
    font-size: 12px;
    color: #F9FAF8;
    background: #3882f6;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    min-width: 100px;
}


.footer {
    background-color: #1f2937;
    font-size: 12px;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}